header {
    background-color: burlywood;
    padding: 5px;
    display: flex;
}

.navbar-collapse {
    justify-content: center;
}

description-image {
    width: 100%;
}

 description-image img{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}

.cta-container {
    text-align: center;
}


#home {
    background-color: antiquewhite;
}

#main-content {
    border: 2px solid green;
}

footer {
    background-color: beige;
    
}

.img-caption {
    background-color: aquamarine;
}

.animal-tile {
    width: 100%
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: azure;
}